#root {
    display: grid;
    grid-template-columns: 30rem auto; 
    gap: 1rem;
}

/* Para tabletas */
@media (max-width: 1024px) {
    #root {
        grid-template-columns: 20rem auto;
    }
}

/* Para móviles */
@media (max-width: 768px) {
    #root {
        grid-template-columns: 1fr;
    }
}

.nav-bar {
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 1rem;
}

@media (max-width: 768px) {
    .nav-bar {
        grid-column: 1 / -1; 
        grid-row: 1 / 2;
    }
}

.proyect {
    grid-column: 2 / -1;
    grid-row: 1;
}

@media (max-width: 768px) {
    .proyect {
        grid-column: 1 / -1; 
        grid-row: 2 / -1;
    }
}
